*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
#sobre
{
    background-color: rgb(217, 218, 224);    
    background:  linear-gradient(#ffffff, rgb(39, 44, 78));;
    /* background:  linear-gradient(#fff785, rgb(45, 51, 87));; */
}
.nav-link{
    color: black;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}
.nav-link:hover{
    color: white;
    background-color: black;
}
.navbar-brand{
    font-size: 1.25rem;
    color: black;
    cursor: pointer;
    text-decoration: none;
}
#sobre
 h1 span {
    color: rgb(255, 255, 255);
    font-weight: 400;
}
#sobre
 .btn {
    padding: 10px 20px;
}

footer{
    background-color: white;
    color: black;
}